<!DOCTYPE html>
<html ng-app="trialApp">
<head>
    <meta charset="UTF-8">
    <title>Trial AngularJS</title>
    <script src="js/angular.js"></script> <!-- make sure this is the downloaded file -->
</head>
<body>
    <h1>Trial AngularJS Project</h1>

    <div ng-controller="DemoController">
        <p>{{ greeting }}</p>
        <input type="text" ng-model="greeting">

        <hr>

        <h3>Metrics Table</h3>
<table border="1" cellpadding="5">
    <tr>
        <th>Timestamp</th>
        <th>CPU</th>
        <th>Strike Rate</th>
    </tr>
    <tr ng-repeat="item in items">
        <td>{{ item.timestamp }}</td>
        <td>{{ item.cpu }}</td>
        <td>{{ item.strikeRate }}</td>
    </tr>
</table>

<h4>Add New Metric</h4>
<input type="text" ng-model="newItem.timestamp" placeholder="Timestamp">
<input type="number" ng-model="newItem.cpu" placeholder="CPU">
<input type="number" ng-model="newItem.strikeRate" placeholder="Strike Rate">
<button ng-click="addItem()">Add</button>
    </div>

    <script src="js/app.js"></script>
</body>
</html>
