<!DOCTYPE html>
<html ng-app="trialApp">
<head>
    <meta charset="UTF-8">
    <title>Trial AngularJS</title>
    <script src="angular.js"></script> <!-- make sure this is the downloaded file -->
</head>
<body>
    <h1>Trial AngularJS Project</h1>

    <div ng-controller="DemoController">
        <p>{{ greeting }}</p>
        <input type="text" ng-model="greeting">

        <br><br>

        <button ng-click="resetGreeting()">Reset</button>
    </div>

    <script src="app.js"></script>
</body>
</html>
